<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springleaf.gotodo.mapper.CategoryTaskMapper">
    <resultMap id="resultMap" type="com.springleaf.gotodo.model.entity.CategoryTask">
        <id property="categoryTaskId" column="category_task_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="taskId" column="task_id"/>
        <result property="sortOrder" column="sort_order"/>
    </resultMap>

    <insert id="saveCategoryTask">
        INSERT INTO tb_category_task (category_id, task_id, sort_order) VALUES (#{categoryId}, #{taskId}, #{sortOrder})
    </insert>

    <update id="updateCategoryTaskSortOrder">
        UPDATE tb_category_task SET sort_order = #{sortOrder} WHERE category_id = #{categoryId} AND task_id = #{taskId}
    </update>

    <update id="batchUpdateCategoryTaskSortOrder">
        UPDATE tb_category_task
        SET sort_order = CASE
        <foreach collection="updateCategoryTaskList" item="item">
            WHEN category_id = #{item.categoryId} AND task_id = #{item.taskId} THEN #{item.sortOrder}
        </foreach>
        END
        WHERE (
        <foreach collection="updateCategoryTaskList" item="item" separator=" OR ">
            category_id = #{item.categoryId} AND task_id = #{item.taskId}
        </foreach>
        )
    </update>

    <delete id="deleteTaskCategoryByTaskId">
        DELETE FROM tb_category_task WHERE task_id = #{taskId}
    </delete>

    <select id="getCategoryTaskByTaskId" resultMap="resultMap">
        SELECT * FROM tb_category_task WHERE task_id = #{taskId} AND category_id = #{categoryId}
    </select>

    <select id="getCategoryTasksByCategoryIdAndTaskIds" resultMap="resultMap">
        SELECT *
        FROM tb_category_task
        WHERE category_id = #{categoryId}
        AND task_id IN
        <foreach item="taskId" collection="validTaskIds" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </select>

    <select id="getMaxSortOrderByCategoryId" resultType="java.lang.Integer">
        SELECT COALESCE(MAX(sort_order), -1) FROM tb_category_task
        WHERE category_id = #{categoryId}
    </select>

    <select id="getCategoryTaskListByCategoryId"
            resultMap="resultMap">
        SELECT * FROM tb_category_task
        WHERE category_id = #{categoryId}
    </select>

</mapper>