<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springleaf.gotodo.mapper.CategoryTaskMapper">
    <resultMap id="resultMap" type="com.springleaf.gotodo.model.entity.CategoryTask">
        <id property="categoryTaskId" column="category_task_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="taskId" column="task_id"/>
        <result property="sortOrder" column="sort_order"/>
    </resultMap>

    <insert id="saveCategoryTask">
        INSERT INTO tb_category_task (category_id, task_id) VALUES (#{categoryId}, #{taskId})
    </insert>

    <delete id="deleteTaskCategoryByTaskId">
        DELETE FROM tb_category_task WHERE task_id = #{taskId}
    </delete>

</mapper>