<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springleaf.gotodo.mapper.DisplayItemMapper">
    <resultMap id="resultMap" type="com.springleaf.gotodo.model.entity.DisplayItem">
        <id property="itemId" column="item_id"/>
        <result property="itemRefId" column="item_ref_id"/>
        <result property="itemType" column="item_type"/>
        <result property="sortOrder" column="sort_order"/>
    </resultMap>

    <insert id="saveDisplayItem">
        INSERT INTO tb_display_item (item_ref_id, item_type, sort_order)
        VALUES (#{itemRefId}, #{itemType}, #{sortOrder})
    </insert>

    <select id="listDisplayItem" resultType="com.springleaf.gotodo.model.vo.DisplayItemVO">
        SELECT
        tdi.*,
        CASE
        WHEN tdi.item_type = 'group' THEN g.group_name
        WHEN tdi.item_type = 'category' THEN c.category_name
        END AS item_name
        FROM
        tb_display_item tdi
        LEFT JOIN
        tb_group g ON tdi.item_type = 'group' AND tdi.item_ref_id = g.group_id AND g.deleted = 0
        LEFT JOIN
        tb_category c ON tdi.item_type = 'category' AND tdi.item_ref_id = c.category_id AND c.deleted = 0
        LEFT JOIN
        tb_group_category gc ON tdi.item_type = 'category' AND gc.category_id = tdi.item_ref_id
        AND EXISTS (SELECT 1 FROM tb_group WHERE group_id = gc.group_id AND deleted = 0)
        WHERE
        (tdi.item_type = 'group' AND g.group_id IS NOT NULL)
        OR
        (tdi.item_type = 'category' AND gc.category_id IS NULL AND c.category_id IS NOT NULL)
        ORDER BY
        tdi.sort_order;
    </select>

</mapper>