<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springleaf.gotodo.mapper.TaskMapper">

    <resultMap id="resultMap" type="com.springleaf.gotodo.model.entity.Task">
        <id property="taskId" column="task_id"/>
        <result property="title" column="title"/>
        <result property="remark" column="remark"/>
        <result property="endTime" column="end_time"/>
        <result property="reminderTime" column="reminder_time"/>
        <result property="completed" column="completed"/>
        <result property="priority" column="priority"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <insert id="saveTask">
        INSERT INTO tb_task (title, remark, end_time, reminder_time, completed, priority, create_time, update_time, deleted)
        VALUES (#{title}, #{remark}, #{endTime}, #{reminderTime}, #{completed}, #{priority}, #{createTime}, #{updateTime}, #{deleted})
    </insert>

    <delete id="deleteTaskByTaskId">
        UPDATE tb_task SET deleted = 1 WHERE task_id = #{taskId}
    </delete>

    <select id="getTaskList" resultMap="resultMap">
        SELECT * FROM tb_task WHERE task_id IN (
        SELECT task_id FROM tb_list_task WHERE list_id = #{listId}) AND deleted = 0
    </select>

</mapper>